[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	proxy = pue04pxint02 .bnymellon.net:8080

[credential]
	helper = wincred
